<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Evaluation</title>
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/css/bootstrap.css')}}">
    <style>
        #q1{
            background-color: rgb(250, 249, 251);
            color: aliceblue;
        }
        #row{
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row" id="row" style="background-color: blue;">
            <div class="col-md-11 mt-5"id="q1" style="display: flex; justify-content: center;">
              <form action="{{url_for('sed_lifestyle')}}" method="post"> 
                
                <table class="my-3 table table-striped">
                    <h3> Sedentary Lifestyle Test</h3>
                    <h5>Write down the time you spend daily</h5>
                    <thead>
                        <tr>
                            <th> S/N</th> 
                            <th> Item </th>
                            <th> No of Hrs </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> A </td>
                            <td> <b>Sleeping</b> </td>   
                            <td>          </td>                                    
                        </tr>  
                        <tr>
                            <td> 1 </td>
                            <td> Specify the average number of hours you sleep at night</td>   
                            <td> <input type="number" name="sl1" id="sl1"></td>                                    
                        </tr>  
                        <tr>
                            <td> 2 </td>
                            <td> Specify the average number of hours you nap in the day</td>   
                            <td> <input type="number" name="sl2" id="sl2"></td>                                    
                        </tr>

                        <tr>
                            <td> B </td>
                            <td> <b>Sitting</b> </td>   
                            <td>          </td>                                    
                        </tr>  
                        <tr>
                            <td> 3 </td>
                            <td> Average number of hours spent sitting daily in the Office</td>   
                            <td> <input type="number" name="sl3" id="sl3"></td>                                    
                        </tr>  
                        <tr>
                            <td> 4 </td>
                            <td> Average number of hours spent sitting daily in the Car</td>   
                            <td> <input type="number" name="sl4" id="sl4"></td>                                    
                        </tr>
                        <tr>
                            <td> 5 </td>
                            <td> Average number of hours spent sitting daily while eating</td>   
                            <td> <input type="number" name="sl5" id="sl5"></td>                                    
                        </tr>
                         <tr>
                            <td> 6 </td>
                            <td> Average number of hours spent sitting daily while watching television</td>   
                            <td> <input type="number" name="sl6" id="sl6"></td>                                    
                        </tr>
                        <tr>
                            <td> 7 </td>
                            <td> Average number of hours spent sitting daily while reading/writing </td>   
                            <td> <input type="number" name="sl7" id="sl7"></td>                                    
                        </tr>

                        <tr>
                            <td> C </td>
                            <td> <b>Standing</b> </td>   
                            <td>          </td>                                    
                        </tr>  
                        <tr>
                            <td> 8 </td>
                            <td> Showering, Waiting, work at a counter, etc</td>   
                            <td> <input type="number" name="sl8" id="sl8"></td>                                    
                        </tr> 
                        <tr>
                            <td> 9 </td>
                            <td> Walking at 1-2 mph (relaxed rate)</td>   
                            <td> <input type="number" name="sl9" id="sl9"></td>                                    
                        </tr> 
                        <tr>
                            <td> 10 </td>
                            <td> Walking at 2-3 mph (quick)</td>   
                            <td> <input type="number" name="sl10" id="sl10"></td>                                    
                        </tr>
                         <tr>
                            <td> 10 </td>
                            <td> Walking at 2-3 mph (quick)</td>   
                            <td> <input type="number" name="sl10" id="sl10"></td>                                    
                        </tr>
                        <tr>
                            <td> 11 </td>
                            <td> Walking at 3-4 mph (fast walk)</td>   
                            <td> <input type="number" name="sl11" id="sl11"></td>                                    
                        </tr>

                        <tr>
                            <td> D </td>
                            <td> <b>Houese Chores</b> </td>   
                            <td>          </td>                                    
                        </tr>  
                        <tr>
                            <td> 12 </td>
                            <td> Sweeping, mopping, dusting, other light work</td>   
                            <td> <input type="number" name="sl12" id="sl12"></td>                                    
                        </tr> 

                        <tr>
                            <td> E </td>
                            <td> <b>Work which requires moderate physical exertion</b> </td>   
                            <td>          </td>                                    
                        </tr>  
                        <tr>
                            <td> 13 </td>
                            <td> Carpentry, electrical, painting. Etc </td>   
                            <td> <input type="number" name="sl13" id="sl13"></td>                                    
                        </tr> 

                        <tr>
                            <td> F </td>
                            <td> <b>Work which requires intense physical exertion </b> </td>   
                            <td> </td>                                    
                        </tr>  
                        <tr>
                            <td> 14 </td>
                            <td> Farming, lumberjacking, bricklaying. Etc</td>   
                            <td> <input type="number" name="sl14" id="sl14"></td>                                    
                        </tr>
                        
                        <tr>
                            <td> G </td>
                            <td> <b>Physical exercise or rhythmic sports </b> </td>   
                            <td> </td>                                    
                        </tr>  
                        <tr>
                            <td> 15 </td>
                            <td> Running, swimming, gymnastics, cycling, etc</td>   
                            <td> <input type="number" name="sl15" id="sl15"></td>                                    
                        </tr>

                        <tr>
                            <td> H </td>
                            <td> <b>Intensive sports  </b> </td>   
                            <td> </td>                                    
                        </tr>  
                        <tr>
                            <td> 16 </td>
                            <td> Swimming, athletics, intense cycling, tennis etc</td>   
                            <td> <input type="number" name="sl16" id="sl16"></td>                                    
                        </tr>

                        <tr>
                            <td> I </td>
                            <td> <b>Competitive  sports  </b> </td>   
                            <td> </td>                                    
                        </tr>  
                        <tr>
                            <td> 17 </td>
                            <td> Soccer, basketball, handball etc</td>   
                            <td> <input type="number" name="sl17" id="sl17"></td>                                    
                        </tr>
              
                        
                    </tbody>
                    
                </table> 
                    <button class="btn btn-outline-warning btn-lg" style="justify-self: center;"> Next </button>
              </form>

            </div>
        </div>
    </div>
</body>
</html>